<div class="container">
  <div class="row mb-5">
    <div class="col-6">
      <h2>Lista de juegos</h2>
    </div>
    <div class="col-6">
      <a class="btn btn-primary pull-right" routerLink="/home">Regresar</a>
    </div>
  </div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Agregar juegos</h5>
                  <p class="card-text">
                      <a class="btn btn-success" routerLink="/shops/create">Agregar</a>
                  </p>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Juegos</h5>
                  <div class="row">
                    <div class="col-12 text-center">
                      <i *ngIf="loading" class="fa fa-spinner fa-spin fa-3x fa-fw text-center"></i>
                    </div>
                  </div>
                  <table *ngIf="shops.length >= 1 && !loading" class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Creado</th>
                        <th scope="col">Actualizado</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let shop of shops; let i = index">
                        <th scope="row">{{shop.id}}</th>
                        <td>{{shop.name}}</td>
                        <td>{{shop.address}}</td>
                        <td>{{shop.phone}}</td>
                        <td>{{shop.created_at}}</td>
                        <td>{{shop.updated_at}}</td>
                        <td>
                          <div class="row">
                            <div [routerLink]="['/games/edit', shop.id]" class="col-5 btn btn-warning">
                              <i class="fa fa-edit"></i>
                            </div>
                            <div (click)="deleteShop(shop.id, i)" class="col-5 btn btn-danger">
                              <i class="fa fa-close"></i>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="shops.length == 0 && !loading" class="alert alert-warning" role="alert">
                   <b>No hay juegos por el momento</b>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
