<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Musica</h5>
                        <i class="fa fa-music fa-spin fa-5x"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Juegos</h5>
                        <i class="fa fa-gamepad fa-spin fa-5x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>